* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    z-index: -3;
}

.wrapper {
    padding: 4.5rem 8.5rem;
}

/* ============================ */
.header-section {
    background-color: #F6EBDA;
    height: 100vh;
    position: relative;
    z-index: -2;
}

.bg-coffee-top {
    background-image: url(image/bg_img_coffee_top.png);
    width: 37.5rem;
    top: 0px;
    right: 0px;
}

.bg-coffee-bot {
    background-image: url(image/bg_img_coffee_bot.png); 
    width: 35.5rem;
    bottom: 0px;
    left: 0px;
}

.bg-coffee-bot, .bg-coffee-top {
    background-size: cover;
    height: 24.5rem;
    z-index: -1;
    position: absolute;
}

.header, .search, .options, .nav-menu {
    display: flex;
}

.header {
    justify-content: space-between;
}

.logo {
    background-image: url(image/logo_coffe.svg);
    background-repeat: no-repeat;
    width: 30%;
    height: 2rem;
}

.nav-menu {
    gap: 2rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
}

.nav-menu div:hover {
    color: #FF902B;
    cursor: pointer;
}

.search-icon {
    background-image: url(image/akar-icons_search.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.options {
    align-items: center;
}

.cart-icon {
    background-image: url(image/icon_cart.svg);
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
}

.search {
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius: 2.25rem;
}

.search input {
    border: none;
    outline: none;
    margin-left: 1rem;
}
